---
- name: clone oh-my-zsh for users
  tags:
    # Suppress warning: [ANSIBLE0006] git used in place of git module
    # Git module doesn't allow us to set `core.autocrlf=input`.
    - skip_ansible_lint
  become: yes
  become_user: '{{ user.username }}'
  # core.autocrlf=input prevents https://github.com/robbyrussell/oh-my-zsh/issues/4402
  command: 'git clone -c core.autocrlf=input --depth=1 https://github.com/robbyrussell/oh-my-zsh.git ~/.antigen/bundles/robbyrussell/oh-my-zsh'
  args:
    creates: '~{{ user.username }}/.antigen/bundles/robbyrussell/oh-my-zsh'
  when: (user.antigen_libraries is defined) or (user.antigen_theme is defined) or (user.antigen_bundles is defined)
  loop: '{{ users }}'
  loop_control:
    loop_var: user
    label: '{{ user.username }}'

- name: set permissions of oh-my-zsh for users
  become: yes
  file:
    path: '~{{ user.username }}/.antigen/bundles/robbyrussell/oh-my-zsh'
    # Prevent the cloned repository from having insecure permissions. Failing to do
    # so causes compinit() calls to fail with "command not found: compdef" errors
    # for users with insecure umasks (e.g., "002", allowing group writability).
    mode: 'go-w'
    recurse: yes
  when: (user.antigen_libraries is defined) or (user.antigen_theme is defined) or (user.antigen_bundles is defined)
  loop: '{{ users }}'
  loop_control:
    loop_var: user
    label: '{{ user.username }}'
