{{ ansible_managed | comment }}

{% if ansible_os_family == 'Darwin' and ansible_machine == 'arm64' %}
source /opt/homebrew/share/antigen/antigen.zsh
{% elif ansible_os_family == 'Darwin' and ansible_machine == 'x86_64' %}
source /usr/local/share/antigen/antigen.zsh
{% else %}
source $HOME/.antigen/antigen.zsh
{% endif%}

for i in ~/.antigen-etc/use.d/*.zsh; do
    if [ -r $i ]; then
        source $i
    fi
done
unset i

for i in ~/.antigen-etc/bundle.d/*.zsh; do
    if [ -r $i ]; then
        source $i
    fi
done
unset i

source ~/.antigen-etc/theme.zsh

antigen apply
